<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="content-Type" content="text/html"; charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <h3 style="display:inline">회원가입</h3>
    <a href="{% url 'project:login' %}">이전페이지</a>
    {% if mes %}
        <script>
        alert("{{ mes }}")
        </script>
    {% endif %}
    <form action="{% url 'project:reg' %}" method="post">
    {% csrf_token %}
        이름 : <input type="text" name="name"></br>
        아이디 : <input type="text" name="id"></br>
        패스워드 : <input type="password" name="pw"></br>
        패스워드확인 : <input type="password" name="re_pw"></br>
        <input type="submit" name="Register"></br>
    </form>
</body>
</html>